<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="7"
      android:versionName="1.06.1" package="mobi.omegacentauri.brainlinkfirmwareuploader">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!--  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/> -->
    <application android:label="Brainlink Firmware Uploader"
            android:icon="@drawable/icon"
    >
        <activity android:name=".BrainlinkFirmwareUploader"
            android:icon="@drawable/icon"
            android:screenOrientation="portrait"
            android:label="Brainlink Firmware Uploader"
                              android:configChanges="keyboard|keyboardHidden|orientation"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>
</manifest>